<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="javaScript.js"></script>
</head>
<body>
<div th:fragment="autNavbar" class="navbar">
    <a class="navbt" th:href="@{/aut/visi_autoriai}">Autoriai</a>
    <a class="navbt" th:href="@{/aut/knygos_pagal_autoriu}">Autoriaus Knygos</a>
    <a class="navbt" th:href="@{/aut/admin/naujas_autorius}">Ideti Autoriu</a>
</div>
</body>
</html>