<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="ISO-8859-1">
    <title>Ideta knyga</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="javaScript.js"></script>
</head>
<body>
    <div th:insert="/fragments/header :: header"></div>
    <div th:insert="/fragments/navbar :: navbar"></div>
    <div th:insert="/fragments/katNavbar :: katNavbar"></div>
    <p class="pastraipa">Kategorija Ideta sekmingai</p>
<div th:insert="/fragments/footer :: footer"></div>
</body>